In [114]:
import pandas as pd
import numpy as np
import scipy as sp
from sklearn.metrics.pairwise import cosine_similarity
import operator
pd.set_option('display.max_colwidth',-1)

### LIHAT DATA JAN-DES 2016

In [115]:
# Data Januari
data_jan=pd.read_excel('Peminjaman buku 2016.xls',sheetname='Jan',header=3)
data_jan=data_jan[3:]
data_jan=data_jan.reset_index(drop=True)
data_jan.head()

,No,Tanggal,ID Anggota,Nama Anggota,Prodi,ID Buku,Judul,Aktifitas,Tanggal Kembali,Keterangan
0,4.0,6-Jan-16,02.00283,Tulus P. Simanjuntak,NaN,03.01737,Sistem Operasi : bagian-bagian dan prinsip-pr,Borrow,20-Jan-16 17:06:08,NaN
1,5.0,18-Jan-16,02.00283,Tulus P. Simanjuntak,NaN,10.06667,RHCE: Red Hat Certified Engineer Linux: Study,Return,18-Jan-16 14:09:07,NaN
2,6.0,20-Jan-16,02.00283,Tulus P. Simanjuntak,NaN,03.01737,Sistem Operasi : bagian-bagian dan prinsip-pr,Return,20-Jan-16 17:06:08,NaN
3,7.0,26-Jan-16,02.00292,Edwin Swandi Sijabat,NaN,15.00050,Problem Solving and Program Design in C,Borrow,6-Apr-16 08:50:42,NaN
4,8.0,26-Jan-16,02.00292,Edwin Swandi Sijabat,NaN,14.00418,Teori Bahasa dan Otomata,Borrow,NaN,NaN

In [116]:
# Data Feb
data_feb=pd.read_excel('Peminjaman buku 2016.xls',sheetname='Feb',header=3)
data_feb=data_jan[3:]
data_feb=data_feb.reset_index(drop=True)
data_feb.head()

,No,Tanggal,ID Anggota,Nama Anggota,Prodi,ID Buku,Judul,Aktifitas,Tanggal Kembali,Keterangan
0,7.0,26-Jan-16,02.00292,Edwin Swandi Sijabat,NaN,15.00050,Problem Solving and Program Design in C,Borrow,6-Apr-16 08:50:42,NaN
1,8.0,26-Jan-16,02.00292,Edwin Swandi Sijabat,NaN,14.00418,Teori Bahasa dan Otomata,Borrow,NaN,NaN
2,9.0,6-Apr-16,02.00292,Edwin Swandi Sijabat,NaN,15.00050,Problem Solving and Program Design in C,Return,6-Apr-16 08:50:42,NaN
3,10.0,25-Jan-16,02.00293,Gerry Italiano Wowilling,NaN,03.03343,Cambridge Preparation for the TOEFL Test,Borrow,19-Feb-16 21:24:18,NaN
4,11.0,19-Feb-16,02.00293,Gerry Italiano Wowilling,NaN,03.03343,Cambridge Preparation for the TOEFL Test,Return,19-Feb-16 21:24:18,NaN

In [117]:
data_peminjaman=pd.concat([data_jan,data_feb])
print "jumlah data:\t", len(data_peminjaman)
data_peminjaman.head()

jumlah data:	1459

,No,Tanggal,ID Anggota,Nama Anggota,Prodi,ID Buku,Judul,Aktifitas,Tanggal Kembali,Keterangan
0,4.0,6-Jan-16,02.00283,Tulus P. Simanjuntak,NaN,03.01737,Sistem Operasi : bagian-bagian dan prinsip-pr,Borrow,20-Jan-16 17:06:08,NaN
1,5.0,18-Jan-16,02.00283,Tulus P. Simanjuntak,NaN,10.06667,RHCE: Red Hat Certified Engineer Linux: Study,Return,18-Jan-16 14:09:07,NaN
2,6.0,20-Jan-16,02.00283,Tulus P. Simanjuntak,NaN,03.01737,Sistem Operasi : bagian-bagian dan prinsip-pr,Return,20-Jan-16 17:06:08,NaN
3,7.0,26-Jan-16,02.00292,Edwin Swandi Sijabat,NaN,15.00050,Problem Solving and Program Design in C,Borrow,6-Apr-16 08:50:42,NaN
4,8.0,26-Jan-16,02.00292,Edwin Swandi Sijabat,NaN,14.00418,Teori Bahasa dan Otomata,Borrow,NaN,NaN

In [118]:
data_peminjaman_id=data_peminjaman[['ID Anggota','ID Buku','Judul']]
print "jumlah data:\t", len(data_peminjaman_id) 
data_peminjaman_id.head()

jumlah data:	1459

  ID Anggota   ID Buku                                          Judul
0  02.00283   03.01737  Sistem Operasi : bagian-bagian dan prinsip-pr
1  02.00283   10.06667  RHCE: Red Hat Certified Engineer Linux: Study
2  02.00283   03.01737  Sistem Operasi : bagian-bagian dan prinsip-pr
3  02.00292   15.00050  Problem Solving and Program Design in C
4  02.00292   14.00418  Teori Bahasa dan Otomata

## Hilangkan NAN dan Duplikat

In [119]:
#hilangkan nan
#data_jan=data_jan.dropna(how='any').head(10)
data_peminjaman_id=data_peminjaman_id.dropna(how='any')
print "jumlah data:\t", len(data_peminjaman_id) 
data_peminjaman_id.head(10)

jumlah data:	1449

  ID Anggota   ID Buku                                          Judul
0  02.00283   03.01737  Sistem Operasi : bagian-bagian dan prinsip-pr
1  02.00283   10.06667  RHCE: Red Hat Certified Engineer Linux: Study
2  02.00283   03.01737  Sistem Operasi : bagian-bagian dan prinsip-pr
3  02.00292   15.00050  Problem Solving and Program Design in C
4  02.00292   14.00418  Teori Bahasa dan Otomata
5  02.00292   15.00050  Problem Solving and Program Design in C
6  02.00293   03.03343  Cambridge Preparation for the TOEFL Test
7  02.00293   03.03343  Cambridge Preparation for the TOEFL Test
8  02.00303   02.00766  Don't Sweat the small stuff in Love
9  02.00303   02.00766  Don't Sweat the small stuff in Love

In [120]:
#https://chrisalbon.com/python/data_wrangling/pandas_selecting_rows_on_conditions/
#nu=ci.loc[~ci['ID Anggota'].duplicated()]
#nu.drop_duplicates()
#ci.loc[~ci.duplicated()==True]
#HILANGKAN DUPLIKAT
data_peminjaman_id=data_peminjaman_id.loc[~data_peminjaman_id.duplicated()==True]
print "jumlah data:\t", len(data_peminjaman_id) 
data_peminjaman_id.head(10)

jumlah data:	309

,ID Anggota,ID Buku,Judul
0,02.00283,03.01737,Sistem Operasi : bagian-bagian dan prinsip-pr
1,02.00283,10.06667,RHCE: Red Hat Certified Engineer Linux: Study
3,02.00292,15.00050,Problem Solving and Program Design in C
4,02.00292,14.00418,Teori Bahasa dan Otomata
6,02.00293,03.03343,Cambridge Preparation for the TOEFL Test
8,02.00303,02.00766,Don't Sweat the small stuff in Love
11,02.00304,15.5202.009020,"Supernova: Kesatria, Putri, & Bintang Jatuh"
12,02.00304,13.07412,Rectoverso
13,02.00304,15.5200.009018,Supernova: Petir
14,02.00304,14.00069,Filosofi Kopi: Kumpulan cerita dan prosa satu dekade

In [22]:
#ci.loc[ci['ID Anggota'].duplicated()|(~ci['Judul'].duplicated())]

In [122]:
print " TERM FREQUENCY"
len(pd.crosstab(data_jan['ID Anggota'],data_jan['ID Buku']))
pd.crosstab(data_jan['ID Anggota'],data_jan['ID Buku']).head()

 TERM FREQUENCY

ID Buku,01.00018,02.00147,02.00175,02.00766,02.00768,02.00785,03.01225,03.01732,03.01733,03.01735,...,15.5238.009123,15.5239.009086,15.5240.009088,15.5241.009089,15.5241.009090,15.5251.009101,15.5254.009104,16.5267.009145,16.5272.009151,16.5273.009152
ID Anggota,,,,,,,,,,,,,,,,,,,,,
02.00113,0,0,0,0,0,0,0,0,0,0,...,1,2,1,0,0,2,2,0,1,0
02.00227,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
02.00241,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
02.00261,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,2
02.00265,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## DATA JIKA DIMASUKKAN ATRIBUT AKTIVITAS

I use the TMDB Ratings to come up with our Top Movies Chart. I will use IMDB's weighted rating formula to construct my chart. Mathematically, it is represented as follows:

Weighted Rating (WR) = (v/(v+m).R)+(m(v+m).C)


where,

    v is the number of votes for the movie
    m is the minimum votes required to be listed in the chart
    R is the average rating of the movie
    C is the mean vote across the whole report

In [123]:
data_peminjaman_aktivitas=data_peminjaman.copy()
data_peminjaman_aktivitas=data_peminjaman_aktivitas[['ID Anggota','ID Buku','Judul','Aktifitas']]
data_peminjaman_aktivitas=data_peminjaman_aktivitas.dropna(how='any')
event_type = {
   'Borrow': 1.0,
   'Return': 1.0, 
   'Renew': 2.0  
}

data_peminjaman_aktivitas['score'] = data_peminjaman_aktivitas['Aktifitas'].apply(lambda x: event_type[x])
print "jumlah data:\t", len(data_peminjaman_aktivitas) 
data_peminjaman_aktivitas.head(10)

jumlah data:	1449

,ID Anggota,ID Buku,Judul,Aktifitas,score
0,02.00283,03.01737,Sistem Operasi : bagian-bagian dan prinsip-pr,Borrow,1.0
1,02.00283,10.06667,RHCE: Red Hat Certified Engineer Linux: Study,Return,1.0
2,02.00283,03.01737,Sistem Operasi : bagian-bagian dan prinsip-pr,Return,1.0
3,02.00292,15.00050,Problem Solving and Program Design in C,Borrow,1.0
4,02.00292,14.00418,Teori Bahasa dan Otomata,Borrow,1.0
5,02.00292,15.00050,Problem Solving and Program Design in C,Return,1.0
6,02.00293,03.03343,Cambridge Preparation for the TOEFL Test,Borrow,1.0
7,02.00293,03.03343,Cambridge Preparation for the TOEFL Test,Return,1.0
8,02.00303,02.00766,Don't Sweat the small stuff in Love,Renew,2.0
9,02.00303,02.00766,Don't Sweat the small stuff in Love,Borrow,1.0

In [65]:
#data_peminjaman_aktivitas = data_peminjaman_aktivitas[(data_peminjaman_aktivitas['Aktifitas']=='Borrow')|
#                                                     (data_peminjaman_aktivitas['Aktifitas']=='Renew')]
#data_peminjaman_aktivitas.head()

,ID Anggota,ID Buku,Judul,Aktifitas,score
0,02.00283,03.01737,Sistem Operasi : bagian-bagian dan prinsip-pr,Borrow,1.0
3,02.00292,15.00050,Problem Solving and Program Design in C,Borrow,1.0
4,02.00292,14.00418,Teori Bahasa dan Otomata,Borrow,1.0
6,02.00293,03.03343,Cambridge Preparation for the TOEFL Test,Borrow,1.0
8,02.00303,02.00766,Don't Sweat the small stuff in Love,Renew,2.0

In [158]:
#Hilanngkan Duplikat
data_peminjaman_aktivitas=data_peminjaman_aktivitas.loc[
    ~data_peminjaman_aktivitas.duplicated(['ID Anggota','ID Buku'])==True]
data_peminjaman_aktivitas=data_peminjaman_aktivitas.reset_index(drop=True)
print "jumlah data:\t", len(data_peminjaman_aktivitas) 
data_peminjaman_aktivitas.head(10)

jumlah data:	309

,ID Anggota,ID Buku,Judul,Aktifitas,score
0,02.00283,03.01737,Sistem Operasi : bagian-bagian dan prinsip-pr,Borrow,1.0
1,02.00283,10.06667,RHCE: Red Hat Certified Engineer Linux: Study,Return,1.0
2,02.00292,15.00050,Problem Solving and Program Design in C,Borrow,1.0
3,02.00292,14.00418,Teori Bahasa dan Otomata,Borrow,1.0
4,02.00293,03.03343,Cambridge Preparation for the TOEFL Test,Borrow,1.0
5,02.00303,02.00766,Don't Sweat the small stuff in Love,Renew,2.0
6,02.00304,15.5202.009020,"Supernova: Kesatria, Putri, & Bintang Jatuh",Borrow,1.0
7,02.00304,13.07412,Rectoverso,Borrow,1.0
8,02.00304,15.5200.009018,Supernova: Petir,Borrow,1.0
9,02.00304,14.00069,Filosofi Kopi: Kumpulan cerita dan prosa satu dekade,Borrow,1.0

In [159]:
print "Jumlah Peminjaman",
len(data_peminjaman_aktivitas[data_peminjaman_aktivitas.Judul=='Kalkulus Edisi Kesembilan Jilid 1'])

Jumlah Peminjaman

37

In [160]:
item_popularity_df = data_peminjaman_aktivitas.groupby('Judul'
                    )['score'].sum().sort_values(ascending=False).reset_index()
item_popularity_df.head(10)

                                                           Judul  score
0  Kalkulus Edisi Kesembilan Jilid 1                              49.0
1  Practice Exercises for the TOEFL                               27.0
2  Metoda Statistika                                              16.0
3  Longman preparation course for the TOEFL test: The paper test  13.0
4  Ilmu peluang dan statistika untuk insinyur da                  13.0
5  Cambridge Preparation for the TOEFL Test                       12.0
6  Numerical Methods                                              8.0
7  Fundamentals of Electric Circuits                              6.0
8  Cracking the TOEFL iBT 2012 Edition                            6.0
9  TOEFL ITP Assessment Series: Practice Tests                    5.0

In [161]:
piv = data_peminjaman_aktivitas.pivot_table(index=['ID Anggota'], columns=['ID Buku'], values='score')
print(piv.shape)
piv.head()

(166, 291)

ID Buku,01.00018,02.00147,02.00175,02.00766,02.00768,02.00785,03.01225,03.01732,03.01733,03.01735,...,15.5238.009123,15.5239.009086,15.5240.009088,15.5241.009089,15.5241.009090,15.5251.009101,15.5254.009104,16.5267.009145,16.5272.009151,16.5273.009152
ID Anggota,,,,,,,,,,,,,,,,,,,,,
02.00113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN
02.00227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
02.00241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
02.00261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0
02.00265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### KAGLE

In [162]:
# Note: As we are subtracting the mean from each rating to standardize
# all users with only one rating or who had rated everything the same will be dropped

# Normalize the values
piv_norm = piv.apply(lambda x: (x-np.mean(x))/(np.max(x)-np.min(x)), axis=1)

# Drop all columns containing only zeros representing users who did not rate
piv_norm.fillna(0, inplace=True)
piv_norm = piv_norm.T
piv_norm = piv_norm.loc[:, (piv_norm != 0).any(axis=0)]
piv_norm.head()

ID Anggota,02.00391,12S14054,21112009,21112021,21S14001,21S14006,21S14009,21S14012,21S14013
ID Buku,,,,,,,,,
01.00018,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
02.00147,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
02.00175,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
02.00766,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
02.00768,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [163]:
# Our data needs to be in a sparse matrix format to be read by the following functions
piv_sparse = sp.sparse.csr_matrix(piv_norm.values)
piv_sparse.data

array([-0.5       , -0.33333333, -0.25      ,  0.66666667, -0.33333333,
        0.66666667, -0.33333333, -0.33333333, -0.25      , -0.33333333,
       -0.33333333, -0.25      , -0.25      ,  0.75      ,  0.66666667,
       -0.33333333,  0.66666667, -0.33333333, -0.25      ,  0.66666667,
       -0.25      ,  0.5       ,  0.5       , -0.5       , -0.33333333,
        0.75      , -0.33333333])

These matrices show us the computed cosine similarity values between each user/user array pair and item/item array pair.

In [164]:
item_similarity = cosine_similarity(piv_sparse)
user_similarity = cosine_similarity(piv_sparse.T)

In [165]:
# Inserting the similarity matricies into dataframe objects

item_sim_df = pd.DataFrame(item_similarity, index = piv_norm.index, columns = piv_norm.index)
user_sim_df = pd.DataFrame(user_similarity, index = piv_norm.columns, columns = piv_norm.columns)

In [147]:
item_sim_df.index.name

'ID Buku'

In [167]:
#item_sim_df.sort_values(by=(item_sim_df.index.name), ascending = False).index[1:11]

In [94]:
# This function will return the top 10 shows with the highest cosine similarity value

def top_book(book_name):
    count = 1
    print('Similar shows to {} include:\n'.format(book_name))
    for item in item_sim_df.sort_values(by = book_name, ascending = False).index[1:11]:
        print('No. {}: {}'.format(count, item))
        count +=1

In [87]:
# This function will return the top 5 users with the highest similarity value 

def top_users(user):
    if user not in piv_norm.columns:
        return('No data available on user {}'.format(user))
    
    print('Most Similar Users:\n')
    sim_values = user_sim_df.sort_values(by=user, ascending=False).loc[:,user].tolist()[1:11]
    sim_users = user_sim_df.sort_values(by=user, ascending=False).index[1:11]
    zipped = zip(sim_users, sim_values,)
    for user, sim in zipped:
        print('User #{0}, Similarity value: {1:.2f}'.format(user, sim))

In [86]:
# This function constructs a list of lists containing the highest rated shows per similar user
# and returns the name of the show along with the frequency it appears in the list

def similar_user_recs(user):
    
    if user not in piv_norm.columns:
        return('No data available on user {}'.format(user))
    
    sim_users = user_sim_df.sort_values(by=user, ascending=False).index[1:11]
    best = []
    most_common = {}
    
    for i in sim_users:
        max_score = piv_norm.loc[:, i].max()
        best.append(piv_norm[piv_norm.loc[:, i]==max_score].index.tolist())
    for i in range(len(best)):
        for j in best[i]:
            if j in most_common:
                most_common[j] += 1
            else:
                most_common[j] = 1
    sorted_list = sorted(most_common.items(), key=operator.itemgetter(1), reverse=True)
    return sorted_list[:5]

In [85]:
# This function calculates the weighted average of similar users
# to determine a potential rating for an input user and show

def predicted_rating(book_name, user):
    sim_users = user_sim_df.sort_values(by=user, ascending=False).index[1:1000]
    user_values = user_sim_df.sort_values(by=user, ascending=False).loc[:,user].tolist()[1:1000]
    rating_list = []
    weight_list = []
    for j, i in enumerate(sim_users):
        rating = piv.loc[i, book_name]
        similarity = user_values[j]
        if np.isnan(rating):
            continue
        elif not np.isnan(rating):
            rating_list.append(rating*similarity)
            weight_list.append(similarity)
    return sum(rating_list)/sum(weight_list)

In [140]:
#top_book('Kalkulus Edisi Kesembilan Jilid 1')

In [49]:
import matplotlib.pyplot as plt
%matplotlib inline

In [66]:
#plt.(item_popularity_df['Judul'].head(10))

In [45]:
item_popularity_df.to_excel('popularity.xls')

In [48]:
#interactions_train_df, interactions_test_df = train_test_split(interactions_full_df,
#                                   stratify=interactions_full_df['personId'], 
#                                   test_size=0.20,
#                                   random_state=42)

#print('# interactions on Train set: %d' % len(interactions_train_df))
#print('# interactions on Test set: %d' % len(interactions_test_df))

In [177]:
getRecommendations(piv_norm['ID Buku'],'01.00018')

KeyError: 'ID Buku'

In [195]:
__author__ = "Jaime Pastor"

import pandas as pd
import numpy as np
import argparse
import time

''' COLLABORATIVE FILTERING ================================================'''

if __name__ == "__main__":

    print '\n === Collaborative Filtering ==='
    print 'Reading input'
    start = time.time()
    #parser = argparse.ArgumentParser()
    #parser.add_argument('--train')
    #parser.add_argument('--test')
    #args = parser.parse_args()
    #argsdict = vars(args)

    train=data_peminjaman_aktivitas[['ID Anggota','ID Buku','score']][:200]
    test = data_peminjaman_aktivitas[['ID Anggota','ID Buku','score']][200:]

    #train.columns = ['movieid', 'customerid', 'rating']
    #test.columns = ['movieid', 'customerid', 'rating']

    print 'Computing similarity matrix'
    train2 = train.pivot(index = 'ID Anggota', columns = 'ID Buku',
                         values = 'score')
    user_mean = train2.mean(axis = 1)
    cor_matrix = train2.T.corr().fillna(0)

    print 'Building predictions'
    rating_diff = train2.sub(train2.mean(axis=1), axis=0)
    user_mean_of_means = user_mean.mean()
    users_all = user_mean.index
    movies_all = rating_diff.columns
    predictions = []

    for i in range(len(test)):
        movie_k, user_i, = [int(test.iat[i,0]), int(test.iat[i,1])]
        # Get user i's mean or assign mean of means
        if user_i in users_all:
            user_i_mean = user_mean.loc[user_i]
        else:
            user_i_mean = user_mean_of_means
        # Obtain all ratings of movie k
        if movie_k in movies_all:
            rating_diff_js = rating_diff.loc[:,movie_k]
            users_j_no_k = rating_diff_js[rating_diff_js.isnull()].index
            # Obtain similarities of user i and users that rated movie k
            w = cor_matrix.loc[user_i,:].copy()
            w.loc[users_j_no_k] = None
            sum_w = w.abs().sum()
            # Calculate collaborative rating
            if sum_w != 0:
                coll_rating = (w * rating_diff_js).sum() / sum_w
            else:
                coll_rating = 0
        else:
            coll_rating = 0
        rating_ik = user_i_mean + coll_rating
        # Check bound and round to nearest rating
        predictions.append( round(max(min(rating_ik, 5),1),1) )

    print 'Summary results:'
    test['predictions'] = predictions
    print '  RMSE:' , round(np.sqrt( ((test['rating'] -
                                     test['predictions'])**2).mean()),4)
    print '  MAE: ' , round(np.mean(abs(test['rating'] -
        test['predictions'])),4), '\n'
    test.to_csv('predictions.txt', sep=',', header = False, index = False)

    print 'Elapsed time: ', time.time() - start

''' ========================================================================'''

 === Collaborative Filtering ===
Reading input
Computing similarity matrix
Building predictions

ValueError: invalid literal for int() with base 10: '21S14016'