# Recommendation System CF

In [6]:
import pandas as pd
df = pd.read_excel("Peminjaman buku 2016.xls",sheetname='Feb', header=3)
df.head()

,No,Tanggal,ID Anggota,Nama Anggota,Prodi,ID Buku,Judul,Aktifitas,Tanggal Kembali,Keterangan
0,1.0,1-Feb-16,02.00401,Eka Trisno Samosir,D3 Teknik Informatika,03.02742,an Introduction to Database Systems: Seventh,Renew,10-Mar-16 15:43:57,NaN
1,2.0,2-Mar-16,02.00401,Eka Trisno Samosir,D3 Teknik Informatika,03.02742,an Introduction to Database Systems: Seventh,Borrow,24-Feb-16 11:35:08,NaN
2,3.0,26-Feb-16,12S14040,Chintya Yosefin Simamora,S1 Sistem Informasi,15.4964.008782,1% inspirasi 99% pekerja keras: tak ada yang ...,Return,10-Mar-16 15:43:57,NaN
3,4.0,3-Mar-16,12S14040,Chintya Yosefin Simamora,S1 Sistem Informasi,15.4964.008782,1% inspirasi 99% pekerja keras: tak ada yang ...,Renew,10-Feb-16 10:19:04,NaN
4,5.0,9-Feb-16,13315026,Christopher Mika Andrew Siahaan,D3 Teknik Komputer,15.4964.008782,1% inspirasi 99% pekerja keras: tak ada yang ...,Borrow,9-Feb-16 17:45:23,NaN

# Fungsi Colaborative Item Based

In [3]:
from math import sqrt
def sim_distance(prefs,person1,person2):
    si={}
    for item in prefs[person1]:
        if item in prefs[person2]:
            si[item]=1
    if len(si)==0: return 0
    sum_of_squares=sum([pow(prefs[person1][item]-prefs[person2][item],2)
                        for item in prefs[person1] if item in prefs[person2]])
    return 1/(1+sum_of_squares)

In [4]:
from math import sqrt
def sim_pearson(prefs,p1,p2):
    si={}
    for item in prefs[p1]:
        if item in prefs[p2]: si[item]=1
            
    n=len(si)
    
    if n==0: return 0
    
    sum1=sum([prefs[p1][it] for it in si])
    sum2=sum([prefs[p2][it] for it in si])
    
    sum1Sq=sum([pow(prefs[p1][it],2) for it in si])
    sum2Sq=sum([pow(prefs[p2][it],2) for it in si])
    
    pSum=sum([prefs[p1][it]*prefs[p2][it] for it in si])
    
    num=pSum-(sum1*sum2/n)
    den=sqrt((sum1Sq-pow(sum1,2)/n)*(sum2Sq-pow(sum2,2)/n))
    if den==0: return 0
             
    r=num/den
             
    return r

In [5]:
def topMatches(prefs,person,n=5,similarity=sim_pearson):
    scores=[(similarity(prefs,person,other),other)
                    for other in prefs if other!=person]
    scores.sort()
    scores.reverse()
    return scores[0:n]

In [6]:
def getRecommendations(prefs,person,similarity=sim_pearson):
    totals={}
    simSums={}
    for other in prefs:
        if other==person: 
            continue
        sim=similarity(prefs,person,other)
            
        if sim<=0: 
            continue
        for item in prefs[other]:
            if item not in prefs[person]or prefs[person][item]==0:
                totals.setdefault(item,0)
                totals[item] += prefs[other][item]*sim
                simSums.setdefault(item,0)
                simSums[item]+=sim
        rankings=[(total/simSums[item],item) for item,total in total.items()]
    
        rankings.sort()
        rankings.reserve()
        return rankings

# List Rekomendasi Buku

In [9]:
listUser = df['Nama Anggota']
listBuku = df['Judul']

In [10]:
print listUser
print listBuku

0                 Larisma Simanjuntak
1                 Larisma Simanjuntak
2                Tulus P. Simanjuntak
3                Tulus P. Simanjuntak
4                Tulus P. Simanjuntak
5                Tulus P. Simanjuntak
6                Edwin Swandi Sijabat
7                Edwin Swandi Sijabat
8                Edwin Swandi Sijabat
9            Gerry Italiano Wowilling
10           Gerry Italiano Wowilling
11                    Priska Sihaloho
12                    Priska Sihaloho
13                    Priska Sihaloho
14                   Nora Simanjuntak
15                   Nora Simanjuntak
16                   Nora Simanjuntak
17                   Nora Simanjuntak
18                   Nora Simanjuntak
19                   Nora Simanjuntak
20                   Nora Simanjuntak
21                   Nora Simanjuntak
22                   Nora Simanjuntak
23                   Nora Simanjuntak
24                   Nora Simanjuntak
25                   Nora Simanjuntak
26                   Nora Simanjuntak
27                   Nora Simanjuntak
28                   Nora Simanjuntak
29                       Santy Munthe
                    ...
704               Indy Victoria Widya
705               Indy Victoria Widya
706         Ricky Halomoan Tampubolon
707         Ricky Halomoan Tampubolon
708         Ricky Halomoan Tampubolon
709                      Suci Lestari
710                      Suci Lestari
711    Joshua S Ananta Sitanggang
712    Joshua S Ananta Sitanggang
713         Elida Sari Simangunsong
714         Elida Sari Simangunsong
715                 Hendro Prabowo .T
716                 Hendro Prabowo .T
717            Lohot Bintangur Siboro
718            Noorman Paul Aritonang
719            Noorman Paul Aritonang
720                 Hernawati Samosir
721                 Hernawati Samosir
722                 Hernawati Samosir
723                 Hernawati Samosir
724                 Hernawati Samosir
725                 Hernawati Samosir
726                 Hernawati Samosir
727                 Hernawati Samosir
728                 Hernawati Samosir
729                               NaN
730                               NaN
731                               NaN
732                               NaN
733                               NaN
Name: Nama Anggota, Length: 734, dtype: object
0                 Why "A" Students Work for "C" Students
1                 Why "A" Students Work for "C" Students
2          RHCE: Red Hat Certified Engineer Linux: Study
3          Sistem Operasi : bagian-bagian dan prinsip-pr
4          RHCE: Red Hat Certified Engineer Linux: Study
5          Sistem Operasi : bagian-bagian dan prinsip-pr
6                Problem Solving and Program Design in C
7                               Teori Bahasa dan Otomata
8                Problem Solving and Program Design in C
9               Cambridge Preparation for the TOEFL Test
10              Cambridge Preparation for the TOEFL Test
11                   Don't Sweat the small stuff in Love
12                   Don't Sweat the small stuff in Love
13                   Don't Sweat the small stuff in Love
14           Supernova: Kesatria, Putri, & Bintang Jatuh
15                                            Rectoverso
16                                      Supernova: Petir
17     Filosofi Kopi: Kumpulan cerita dan prosa satu ...
18                                         Perahu Kertas
19                                         Perahu Kertas
20     Filosofi Kopi: Kumpulan cerita dan prosa satu ...
21                                      Supernova: Petir
22                                            Rectoverso
23           Supernova: Kesatria, Putri, & Bintang Jatuh
24                                         Perahu Kertas
25     Filosofi Kopi: Kumpulan cerita dan prosa satu ...
26                                      Supernova: Petir
27                                            Rectoverso
28           Supernova: Kesatria, Putri, & Bintang Jatuh
29         The Shack : Tragedi yang Menyingkap Misteri t
                             ...
704                    Kalkulus Edisi Kesembilan Jilid 1
705                    Kalkulus Edisi Kesembilan Jilid 1
706                    Kalkulus Edisi Kesembilan Jilid 1
707                    Kalkulus Edisi Kesembilan Jilid 1
708                    Kalkulus Edisi Kesembilan Jilid 1
709                    Kalkulus Edisi Kesembilan Jilid 1
710                    Kalkulus Edisi Kesembilan Jilid 1
711                     Practice Exercises for the TOEFL
712                     Practice Exercises for the TOEFL
713                    Kalkulus Edisi Kesembilan Jilid 1
714                    Kalkulus Edisi Kesembilan Jilid 1
715                                            TOEFL iBT
716                                            TOEFL iBT
717                    Kalkulus Edisi Kesembilan Jilid 1
718                    Kalkulus Edisi Kesembilan Jilid 1
719                    Kalkulus Edisi Kesembilan Jilid 1
720        The C Programming  Language : second edition
721                  Cracking the TOEFL iBT 2012 Edition
722    Longman preparation course for the TOEFL test:...
723    Longman preparation course for the TOEFL test:...
724                  Cracking the TOEFL iBT 2012 Edition
725        The C Programming  Language : second edition
726        The C Programming  Language : second edition
727                  Cracking the TOEFL iBT 2012 Edition
728    Longman preparation course for the TOEFL test:...
729                                                  NaN
730                                                  NaN
731                                                  NaN
732                                                  NaN
733                                                  NaN
Name: Judul, Length: 734, dtype: object